.contact-container{
    width: 100%;
    height: 85vh;
    /* background-color: yellow; */
    padding-bottom: 1.2rem;
    color: #5C4B99;
}
.contact{
    display: flex;
    justify-content: center;
    height: 80vh;
    /* background-color: aqua; */
    gap: 10rem;
    padding-top: 3rem;
    /* padding-bottom: 1rem; */
}
.Form-div{
    text-align: center;
    display: flex;
    flex-direction: column;
   width: 30%;
   height: 60vh;
   background-color: #A076F9;
   border-radius: 1rem;
   color: white;
   box-shadow: 0px 0px 10px 0px rgb(139, 139, 240);
   background-image: url('c:\Users\DELL\Downloads\Rectangle.png');
}
.contact-image{
    width:100%;
    height: 40vh;

}
.Form{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
    /* background-color: pink; */
    margin-left: 2.5rem;
    height: 40vh;
    gap: 2.5rem;
}
.input{
    width: 100%;
    height: 4rem;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: large;
}
.inputbox{
    width: 100%;
    height: 20vh;
    border: none;
    outline: none;
    font-size: x-large;
}
.input-button{
    width: 30%;
    height: 5rem;
    border-radius: 10px;
    border: none;
    font-size: larger ;
}
@media (max-width: 769px) {
    .contact{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 85vh;
        gap: 1rem;
        padding-top: 0rem;
        margin-top: 0;
    }
    .Form-div{
        width: 80%;
        margin-left: 40px;
        height: 49vh;
        margin-top: 1rem;
    }
    .contact-image{
        width:70%;
        height: 30vh;
        margin-left: 1rem;
    }
    .imagediv{
        margin-left: 2rem;
    }
    .input-button{
        width: 40%;
        height: 4rem;
    }
    .Form{
        margin-left: 1.5rem;
        height: 36vh;
    }
    .input{
        text-align: center;
    }
    .inputbox{
        text-align: center;
    }
}